<!DOCTYPE html>
<html lang="en">
<style>
   #tbl{
        background-color: antiquewhite;
        color:blue;
        text-align:center;
   }
</style>
<body bgcolor="#fff0f5">
<form action="./Add" method="get">
    <table border="0" id="tbl" align="center">
        <tr align="center" ><td colspan="2" bgcolor="aqua">HOSTEL MANAGEMENT BILLING</td></tr>
        <tr><td  align="right" width="44%">Enter hostel Rent:</td><td><input type="text" name="t1"></td></tr>
        <tr><td align="right">Mobile:</td><td><input id="in" type="text" name="t2"></td></tr>
        <tr><td align="right">Food:</td><td><input type="text" name="t3"></td></tr>
        <tr><td align="right"> Tea:</td><td><input type="text" name="t4"></td></tr>
        <tr><td align="right">Fish:</td><td><input type="text" name="t5"></td></tr>
        <tr><td align="right">Roti:</td><td><input type="text" name="t6"></td></tr>
        <tr align="right" ><td  colspan="2" style="color:white"><input type="submit" value="Month Bill"></td></tr>
    </table>
</form>
<form action="./Food" method="get">
    <table border="0" id="tbl" align="center"><br>
        <tr><td align="center" colspan="2" bgcolor="aqua">ONE STUDENTS MEAL</td></tr>
    <tr><td align="right">Total spend food on total friends:</td><td><input type="text" name="s1"></td></tr>
    <tr><td align="right">Number of friends:</td><td><input type="text" name="s2"></td></tr>
    <tr><td colspan="2" align="right"><input type="submit" value="Single Bill">
    </table>
</form>
</body>
</html>